body,
h1
{
    margin:0;
    padding:0;
}

.block{
width: auto;
height: 800px;
text-align: center;
background-color: rgb(225, 226, 226);
}

h1{
    text-transform: capitalize;
    color: rgb(88, 128, 221);
}